/* font weights 300, 400, 600 */

body {
    background-color: rgb(0, 0, 13);
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color:white;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

p {
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    max-width: 10rem;
}